{
    "UserPoolId": "user pool id",
    "ClientId": "user pool client id",
    "AuthFlow": "ADMIN_USER_PASSWORD_AUTH",
    "AuthParameters": {
        "USERNAME": "email",
        "PASSWORD": "password"
    }
}
